@charset "UTF-8";


body {
	margin: 0px;
	color: #777777;
	font-size: 16px;
	font-family: Arial;
	font-family: Arial, Verdana, Univers;
	background-color: #cfcfcf;
}

h1 {
	color: #25476C;
	font-size: 24px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}
h2 {
	color: #214265;
	font-size: 20px;
	font-weight: normal;
	margin: 0px 0px 15px 0px;
	text-align: left;
}
h3 {
	color: #204162;
	margin-top: 12px;
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 14px;
}
h6 {
	padding: 0px;
	margin: 0px;
	font-size: 9px;
	color: #F00;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	text-align: left;
}
p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
	color: #000;
	font-size: 14px;
	text-align: left;
}
a          {
	color: #36C;
}
a:visited  {
	color: #003;
}
a:hover    {
	color: #768CF5;
	font-size: 14px;
}

.container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}


/* BANNER AREA */
.bannerArea {
	width: 100%;
	height: auto;
	background-color: #FFF;
}

.bannerArea .container {
	width: 980px;
	height: 100px;
	background-image: url(swimheader.jpg);
	background-repeat: no-repeat;
}

.bannernav {
	padding-top: 80px;
	padding-right: 10px;
	float: right;
	color: #006;
	font-size: 10px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

.bannernav a {
	color: #006;
	text-decoration: none;
}
.bannernav a:visited {
}

.bannernav a:hover {
	color: #003;
	text-decoration: underline;
	font-size:9px;
}

.toplogo {
	
	padding-left: 10px;
	padding-top: 20px;
	color: #006;
}


/* TOP NAVIGATION AREA */
.topnavigationArea {
	background-image: url(topnav_bkgd.jpg);
	background-repeat:repeat-x;
	background-color: #436d9c;
}
.topnavigationArea .container {
	background-image: url(topnav_bkgd.jpg);
	background-repeat:repeat-x;
	background-color: #436d9c;
	width: 980px;
	height: 40px;
}

.topnavigationgroup {
	margin: 0px;
	float: right;
	padding-right: 1px;
}
.topnavigationgroup ul {
	margin: 0px;
}

.topnavigationitem {
	max-width: 167px;
	margin-left: 0px;
	padding-left: 10px;
	padding-top: 9px;
	padding-right: 10px;
	padding-bottom: 9px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	float: left;
}

/* CONTENT AREA */
.contentArea {
	width: 100%;
	background-color: #FFF;
	background-image: none;
	background-repeat: repeat-x;
}


.contentArea .container {
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url(cont_backgr.jpg);
	background-repeat: no-repeat;
	background-color: #FFF;
}

.contentleft {
	width: 650px;
	padding:20px;
	float: left;
	border-right-style: solid;
	border-right-width: 1px;
	color: #30537B;
	font-style: normal;
	font-weight: normal;
}

.middle {
	padding:20px;
	font-size: 10px;
}
.middleleft {
	float:left;
	width:400px;
	height:450px;
}
.middleleft ul{
	list-style:none;
	font-style:italic;
	padding-left:-20px;
	
}
.middleright {
	float:right;
	width:150px;
	height:250px;
	padding-right:50px;
	font-size: 12px;
}

.contentright {
	padding-top: 20px;
	float: left;
	padding-left: 30px;
	width: 240px;
}

.imageright {	
	margin-left: 5px;
	float: right;
}

.button {
	background-color: #214265;	
}

.wrapper{
	width:540px
	
	}

.immagini{
	width:560px;
	margin-left:-20px;
	overflow:hidden;
	list-style-type: none;
	text-align:center;
	font-size:12px;
}

.immagini li{
  width:120px;
  height:120px;
  float:left;
  margin:20px 0 20px 20px;
}

/* FOOTER AREA */
.footerArea {
	width: 100%;
	background-color: #FFF;
	background-image: none;
	background-repeat: repeat-x;
}

.footerArea .container {
	height: 77px;
	background-image: url(swimfooter2.png);
	background-repeat: repeat-x;
}

.copyright {
	padding-left: 40px;
	padding-top: 12px;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

.formStyle {
	color: #2064B4;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 0px;
	
}
.formLabel {
	background-color: #DDE6FF;
	font-size: 12px;
}
